* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 800px;
}
/* HEADER */
.container1 {
    margin: 20px 0;
}

#logo{
    height: 50px;
    width: auto;
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
 }

nav a {
    color: lightgrey;
    text-decoration: none;
    text-transform: uppercase;
}
 
/* MAIN */
.container2 {   
    background-image: url(../img/banner.jpg);
    margin: 20px 0;
    background-size:cover;
    border-radius: 10px;
}

.content2 {
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 10px;
}

.h1-cont2 {
    color:rgba(255, 255, 255, 0.904);
    padding-top: 200px;
    padding-left: 30px;
}

.p-cont2 {
    color:rgba(255, 255, 255, 0.904);
    padding-bottom: 30px;
    padding-left: 30px;
}

/* SECONDA PARTE MAIN */
.container3 {
    padding-bottom: 20px;
    margin-bottom: 10px;
    
}

.container3::after {
    content: "";
    display: table;
    clear: both;
}

.section1 {
   margin-bottom: 25px;
}

.p-sect1 {
    color: grey;
}

.section3 {
    width: calc(60% - 30px);
    float: left;
    margin: 0 15px;
}

 img {
     width: 100%;
    opacity: 70%;
    border-radius: 15px;
     
 }

.section2 {
    width: 20%;
    float: left; 
}

.bgc-grey {
    background-color: grey;
    border-radius: 15px;
    height: 150px;
    overflow: hidden;
}

/* FOOTER */                   
.container4 {                   
    background-color: #8801fe;
    height: 30px;
    margin-bottom: 20px;
}                   